/* общие стили */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 110%;
  color: #212121;
  margin-top: 0;
}

/* стили хэдера */
.header-top {
  border-bottom: 1px solid #dedede;
}

.header-top-info {
  display: flex;
  justify-content: space-between;
  height: 67px;
  align-items: center;
}

.top-menu {
  display: flex;
  width: 945px;
  justify-content: space-between;
}

.top-menu-left,
.top-menu-right {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.top-menu-left a,
.top-menu-right a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #424242;
}

.top-menu-left {
  width: 352px;
}

.top-menu-right {
  width: 340px;
}

.main-menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 73px;
  align-items: center;
}

.main-menu-list a {
  text-decoration: none;
  font-size: 16px;
  color: #424242;
  font-weight: 500;
  margin-bottom: 70px;
}

/* стили баннера */

.main-banner {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  box-shadow: 0px 4px 20px 0px #0000001a;
  height: 400px;
}

.banner-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-text {
  font-size: 22px;
}

.text-color {
  color: #3a95ff;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600px;
  width: 200px;
  height: 55px;
  box-sizing: border-box;
}

.btn-primary {
  color: #ffffff;
  background-color: #3a95ff;
}

.btn-secondary {
  color: #3a95ff;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #3a95ff;
}

.banner-info-pic {
  height: 375px;
}

.banner-info-buttons {
  display: flex;
  justify-content: space-between;
}

/* стили предложений */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 662px;
  margin-top: 70px;
}

.products-item {
  display: flex;
  justify-content: space-between;
  width: 555px;
  height: 300px;
  background: #eff2f5;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

/* стили блока кредиты 60 */

.credits {
  background-color: #eff2f5;
}

.credits-info {
  display: flex;
  justify-content: space-between;
}

.credit-60 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 750px;
  height: 500px;
  background: #e0e5ea;
  box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25),
    5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.credit-60-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 38px;
  line-height: 130%;
  color: #212121;
  margin-left: 90px;
  width: 650px;
}

.credit-60-points {
  display: flex;
  justify-content: space-between;
  width: 545px;
}

.credit-60-points-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-60-buttons {
  display: flex;
  justify-content: space-between;
  width: 437px;
}

.points-item-top {
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  border-bottom: 1px solid #3a95ff;
}

.points-item-botoom {
}
